
<nav class="nav">
  <div class="navbar">
    <div class="navbar-logo">
      <a href="#"  class="navbar-logo-text">Beaulyne</a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-menu-list">
        <li class="navbar-menu-list-item">Shop</li>
        <li class="navbar-menu-list-item">Women</li>
        <li class="navbar-menu-list-item">Children</li>
        <li class="navbar-menu-list-item">Men</li>
      </div>
    </div>
    <div class="navbar-icons">
      <div class="navbar-icons-list"><i class="fa fa-camera"></i></div>
      <div class="navbar-icons-list"><i class="fa fa-address-book"></i></div>
      <div class="navbar-icons-list"><i class="fa fa-address-book"></i></div>
    </div>
  </div>

</nav>
