

@mixin  display($displayValue) {
  -webkit-display: $displayValue;
  display: $displayValue;
}


@mixin defineWidth($height,$width)  {
  width: $width;
  @if($width == 100%){
    height: 100%;

  } @else{
    height: $height;
  }
}


@mixin  box-sizing($value) {
  box-sizing: $value;
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;

}

@mixin font-weight($value) {
  font-weight: $value;
}

@mixin padding-margin($p, $m) {
  padding: $p;
  margin: $m;
}

@mixin height($h) {
  height: $h;
}

@mixin width($w) {
  width: $w;
}

@mixin border($width, $style, $color) {
  border: $width $style $color
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
}

@mixin flexProps($justify,$align){
  justify-content: $justify;
  align-items: $align;
}
